#!/usr/bin/env bash

NIX_DIRENV_VERSION=3.1.1

if ! has nix_direnv_version || ! nix_direnv_version $NIX_DIRENV_VERSION; then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/$NIX_DIRENV_VERSION/direnvrc" "sha256-p+fzQdrms/hDa7g+soShAybJNo4bN4SIAeSfqNKgD5I="
fi

watch_file flake.nix
watch_file devenv/dotfiles.nix
watch_file flake.lock

if ! use flake . --impure; then
	echo "Nix development environment failed to be built!" >&2
fi
