#!/usr/bin/env bash

FLAKE_DIR="${HOME}/Projects/GitHub/MAHDTech/nix-config"

PROJECT_NAME=$(basename "$(pwd)")
PROJECT_DIR=$(pwd)
PROJECT_SHELL="nix"

if ! has nix_direnv_version || ! nix_direnv_version 2.2.0;
then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.0/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="
fi

nix_direnv_watch_file devenv.nix
nix_direnv_watch_file devenv.lock
nix_direnv_watch_file devenv.yaml

# Push into the flake directory
pushd "${FLAKE_DIR}" || {
	echo "Failed to pushd into ${FLAKE_DIR}"
	exit 1
}

# Launch the specified devShell
use flake --impure .#${PROJECT_SHELL}

# Return to the project directory
popd || {
	echo "Failed to return to ${PROJECT_DIR}"
	exit 1
}

echo "Current Project: $PROJECT_NAME"
