
# Python
autopep8
black
flake8
mypy
pydocstyle
pylint
pytest
pytest-cov
pytest-mock
pytest-salt

# Saltstack

salt
salt-lint
salt-lsp

# Idem

idem
idem-azurerm
idem-azure
idem-aws
idem-helm
idem-salt
idem-gcp
idem-gitlab
#idem-github
idem-vault
idem-k8s
